<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Responsivo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/most.css">
    <link rel="stylesheet" href="../css/config.css">
    <link rel="stylesheet" href="./css/cardResult.css">
</head>
<body>
    <header class="bg-danger text-white p-3">
        <nav class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <img src="/assets/logo_idwall.png" class="logo_idwall" alt="">
            </div>
            <div class="lista_menu">
                <ul class="list-unstyled d-flex">
                    <li class="mr-3"><a href="#">Home</a></li>
                    <li class="mr-3"><a href="#">Search by ID</a></li>
                    <li class="mr-3"><a href="./components/search-name.html">Search by Name</a></li>
                    <li class="mr-3"><a href="#">List all</a></li>
                    <li class="mr-3"><a href="#">Services</a></li>
                    <li class="mr-3"><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="menu_toggle d-lg-none">
                <div id="menu-toggle" class="d-flex flex-column">
                    <div class="bar bg-white mb-2" style="width: 25px; height: 3px;"></div>
                    <div class="bar bg-white mb-2" style="width: 25px; height: 3px;"></div>
                    <div class="bar bg-white" style="width: 25px; height: 3px;"></div>
                </div>
            </div>
            <div class="menu_hamburger d-lg-none">
                <img src="../assets/menu-aberto.png" class="img_hamburger" alt="">
            </div>
        </nav>
    </header>

    <main class="mainv">
        <div class="page_view container d-flex flex-column align-items-center justify-content-center gap-3">
            <video autoplay loop muted plays-inline>
                <source src="../assets/back.mp4" type="video/mp4">
            </video>
            <div class="logo_fbi_interpol d-flex justify-content-between w-100">
                <img src="../assets/FBI_SHIELD-logo-2D02BDDAC8-seeklogo.com.png" class="logo_fbi" alt="">
                <img src="../assets/INTERPOL_Logo.png" class="logo_interpol" alt="">
            </div>
            <div class="barra_busca w-100">
                <input type="text" id="searchWanted" class="form-control" placeholder="Search by ID or Name">
                <button onclick="fetchNameData()" class="custom-button btn btn-danger">Search</button>
            </div>
            <p>2023/25148</p>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/toggle.js"></script>
    <script src="./js/popup.js"></script>
    <script src="/id.js"></script>
    <script src="./js/fetchNameData.js"></script>
</body>
</html>
